<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="GameVersion" value="1.0.11.0"/>
      <add key="SkipUpdates" value="false"/>
    </appSettings>
</configuration>